extends layout

block content
    div.content-col
        h1 #{title}
        form(method='POST' action='')
            div.form-group
                label(for='name') Name: 
                br
                input#name.form-control(type='text', placeholder="Name of data" name='name' required='true' value=(undefined===data ? '' : data.name))
            div.form-group
                label(for='imgurl') Image URL: 
                br
                input#imgurl.form-control(type='text' placeholder='URL of image' name='imgurl' required='true' value=(undefined===data ? '' : data.imgurl))
            div.form-group
                label(for='description') Description: 
                br
                textarea#description.form-control(type='textarea', placeholder='Description of data' name='description' required='true') #{undefined===data ? '' : data.description}
            div.form-group
                label(for='password') Admin Password: 
                br
                input#password.form-control(type='password', placeholder='password' name='password' required='true')
            div.form-group
                button(type='submit') Submit

        if errors
            ul(style="margin-top:1vw;")
                for error in errors
                    li!= error.msg