doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extra-stylings
  body
    nav 
      a(href='/') Medamon Emporium
    block content
